/*Button*/
.simple-button {
    border: none;
    border-radius: 10px;
    height: 35px;
    background-color: #007bff; /*EDIT-COLOR*/
    font-size: 15px;
    font-weight: 600;
    color: #fefefe;
}
.simple-button:hover {
    cursor: pointer;
    background-color: #0069d9; /*EDIT-COLOR*/
}
/*Circle Button*/
.circle-button {
    border-radius: 50%;
    border: none;
    background-color: #1950ff; /*EDIT-COLOR*/
    color: #fefefe;
    padding: 15px;
    transition: 0.4s;
}
.circle-button:hover {
    padding: 20px;
    cursor: pointer;
}
/*Vertical Button*/
.vertical-button {
    border: solid 10px #333333;
    height: 100px;
    width: 320px;
    font-size: 25px;
    transition: background-color 300ms;
    background: none;
}
.vertical-button:hover {
    cursor: pointer;
    background-color: #b5b5b5;
}
/*3D button*/
.button-3D {
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fefefe;
    box-shadow: 0px 3px 5px 1px rgba(0, 123, 255, 0.6);
    transition: 0.3s;
}
.button-3D:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*----FORM----*/
/*TEXT-FORM*/
.txt-form {
    background-color:rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 10px 0 15px 0;
    transition: 0.3s;
    outline: none;
}
.txt-form:focus {
    box-shadow: 0px 2px 5px 1px rgba(0, 123, 255, 0.6);
}
.txt-form:focus::placeholder {
    opacity: 0;
}
/*DATE-FORM*/
.date-form {
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6em;
    margin: 10px 0 15px 0;
}
/*FORM FILE*/
.file-label {
    position: relative;
    cursor: pointer;
    margin: 10px 0 15px 0;
    
}
.file-form {
    position: absolute;
    opacity: 0;
    outline: 0;
}
.file-cnt {
    background-color: rgba(0, 0, 0, 0.1);
    color: #444444;
    font-size: 16px;
    padding: 0.5em 1em 0.5em 1em; 
    border-radius: 3px;
}
.file-icon {
    margin-right: 5px;
}
/*TIME FORM*/
.time-form {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 6px;
}
/*CHECKBOX*/
input[type='checkbox'] {
    cursor: pointer;
}
/*CLASSIC*/
.classic-check {
    position: relative;
    outline: 0;
    border-radius: 4px;
    width: 1.5em;
    height: 1.5em;
    border: solid 1px #bdc1c6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s ease-out;
}
.classic-check::before {
    position: absolute;
    content: '';
    display: block;
    left: 5px;
    top: 1px;
    height: 14px;
    width: 8px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    opacity: 0;
}
.classic-check:checked {
    background-color: #06842c;
    color: #fff;
    border-color: #06842c;
}
.classic-check:checked::before{
    opacity: 1;
}
.classic-check:active {
    transform: scale(0.6);
}
.label-classic {
    position: relative;
    font-size: 1.2rem;
    top: -5px;
}
/*SWITCH*/
.switch {
    outline: none;
    width: 38px;
    border-radius: 11px;
    outline: none;
    border: 1px solid #bdc1c6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    transition: 0.2s;
}
.switch::after {
    position: relative;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #007bff; /*COLOR POINT*/
    content: '';
    display: block;
    left: 2px;
    top: 2px;
    transition: 0.3s;
}
.switch:checked {
    background-color: #007bff; /*COLOR-BACKGROUD CHECKED*/
    box-shadow: 0px 1px 4px 1px rgba(0, 123, 255, 0.5);
}
.switch:checked::after {
    background-color: #FFF;
    transform: translateX(17px);
    -webkit-transform: translateX(17px);
}
/*CIRCLE CHECKBOX*/
.circle-check {
    position: relative;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #bdc1c6;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    transition: 0.3s ease-out;
}
.circle-check::before {
    position: absolute;
    content: '';
    display: block;
    left: 6px;
    top: 3px;
    height: 12px;
    width: 6px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    opacity: 0;
}
.circle-check:checked {
    background-color: #007bff;
    color: #fff;
}
.circle-check:checked::before {
    opacity: 1;
}
.circle-check:active {
    transform: scale(0.6);
}
.label-circle {
    position: relative;
    top: -6px;
    font-size: 1.2rem;
}